@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

      transition: 0.5s ease-in-out;
}

* div {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    width: auto;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
    background-color: white;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    justify-content: space-evenly;
}

h1 {
    height: 10%;
}

#container {
    height: auto;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.meta {
    border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    width: 300px;
    height: 300px;
    flex-direction: column;
    gap: 5px;
}

.meta img {
    width: 50%;
    height: 50%;
}

.meta:hover {
    border-radius: 20px;
    box-shadow: 4px 6px 20px rgba(0,255,0,0.5);
    transform: scale(1.05);
}

.progress-container {
    width: 50%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin: 5px;
    overflow: hidden;
    justify-content: left;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s ease-in-out;
}

.meta:hover #bnt-box {
    height: auto;
}

#bnt-box {
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    flex-direction: column;
}

.meta:hover .donateButton {
    padding: 10px 20px 10px 20px;
    font-size: 1em;
}

.donateButton {
    font-size: 0px;
    border-radius: 10px;
    padding: 0;
    background-color: white;
    flex-direction: column;
    overflow: hidden;
}

.donateButton:hover {
    background-color: rgba(0, 255, 0, 0.5);
    cursor: pointer;
}

.donateButton input {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 5px;
}

.donateInput {
    width: 100%;
    height: 0px;
    overflow: hidden;
    flex-direction: column;
    gap: 5px;
}

.inputDonate {
    padding: 5px;
    border-radius: 10px;
    border: 0.5px solid rgba(0,0,0,0.5);
}